<div class="Wrapper">
    <div class="TitleDivider" style="margin-top: 1em" ></div>
    <p style="margin-top:10px">
        <a href="https://github.com/Doy-lee/onion-loki-blockchain-explorer">Source Code</a>
        | Explorer Version (api): {{git_branch_name}}-{{last_git_commit_date}}-{{last_git_commit_hash}} ({{api}})
        | Loki Version: {{loki_version_full}}
    </p>
    <div class="footer"><a href="https://loki.network">Loki.network</a>, <a href="https://loki.foundation">Loki.foundation</a>, <a href="https://www.lokinet.org">Lokinet</a>, <a href="https://getsession.org">Session</a>, <a href="https://coinstop.io">Merchandise</a></div>
</div>
</body>
</html>
